body {
    background-color: #F3F1FF;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    max-height: 90px;
    background-color: #562EFF;
}

.brand-logo {
    width: 40.42px;
    height: 50px;
    margin-left: 190px;
}

.idea-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.profile-icon img {
    width: 40px;
    margin-right: 190px;
    padding-left: 5px;
}

.top-player {
    margin-top: 36px;
    padding-left: 30px;
    border-radius: 5px;
}

.top-heading {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;

}

.player img {
    width: 56px;
    height: 56px;
}

main {
    max-width: 870px;
    max-height: 679px;
}

.player>p {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

hr {
    border: 1px solid #D1D1D1;
}

.blog-detail {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.designer-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
    padding-top: 6px;
}

.designer-name>a {
    text-decoration: none;
    color: #562EFF;
}

.latest-course {
    max-width: 870px;
    max-height: 450px;
    border-radius: 5px;
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.ratings {
    margin-right: 10px;
}

.ratings i {

    color: #AEAEAE;
    font-size: 20px;
}

.rating-color {
    color: #FFC014 !important;
}

.course-author>a {
    text-decoration: none;
    color: #ED6B4F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 17px;
}

.card {
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}